#Logs:
runinfo
stafford.cc
log.txt
nohup.out

#pycache:
__pycache__
*.pyc

#Output columns/histograms:
*.hdf5
selected_columns
hists
out_hists
*.coffea

#Private config directories:
ttDM_config

#Input data directory (which is it's own git repo):
data

*.buildconfig
